.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex-wrap;
  gap: 5px;
}

.product_item {
  border: 1px solid grey;
  padding: 1rem;
  max-width: 200px;
}

.super {
  color: cadetblue;
}